<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DX男士服装进销存.Properties.Settings.DX_男士服装进销存数据库ConnectionString"
      connectionString="Data Source=127.0.0.1;Initial Catalog=DX_男士服装进销存数据库;Persist Security Info=True;User ID=20142894;Password=123456"
      providerName="System.Data.SqlClient" />
    <add name="DX_男士服装进销存数据库Context" connectionString="Data Source=127.0.0.1;Initial Catalog=DX_男士服装进销存数据库;Integrated Security=True;User ID=20142894;MultipleActiveResultSets=True;Context Connection=False"
      providerName="System.Data.SqlClient" />
    <add name="DX_男士服装进销存数据库ConnectionString" connectionString="XpoProvider=MSSqlServer;data source=127.0.0.1;user id=20142894;password=123456;initial catalog=DX_男士服装进销存数据库;Persist Security Info=true" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>